/* #################### 全局 #################### */
* {
	margin: 0;
	padding: 0;
	border: 0;
}
a {
    color: #069;
    text-decoration: none;
}

html,body{
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: microsoft yahei,helvetica,simhei,simsun,sans-serif;
}

#header {
	width: 100%;
	height: 50px;
	position:fixed;
	background: #1b926c;
	z-index: 100;
}

#footer{
	height: 30px;
	background-color: #6c7989;
	color: #ccc;
	text-align: center;
}
#footer a {
    color: #fff;
    font-style: italic;
}

#content{
	/* flex: 1; */
	max-width: 830px;
	top: 50px;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0;
	/* overflow: scroll; */
	margin: 50px 0px 30px 300px;
}

#sidebar {
	flex-grow:1;
	flex-shrink:1;
	flex-basis: 0;
	max-width: 300px;
	min-width: 250px;
	height: 100%;
	position:fixed;
	top: 50px;
	background: #262a30;
}

/* #################### 全局 #################### */
/* #################### 分页 #################### */

.page-number{
	
}
/* #################### 分页 #################### */
/* #################### 导航 #################### */
#header{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

#title {
	font-size: 20px;
	color: #fff;
	padding: 10px 15px;
}
#menu {
	float: right;
	padding-right: 20px;
}
#menu .menu-item {
    display: inline-block;
	padding: 10px;
	list-style: none;
}
#header .menu-item-link{
	font-size: 12px;
	color: #b0ddce;
}
#header .menu-item-link:hover {
	border-bottom: 1px solid;
}
/* #################### 导航 #################### */

/* #################### 侧边栏 #################### */
/* 搜索框 */
#sidebar input {
	width: 290px;
	height: 50px;
	margin: 0;
	border: 0;
	padding: 0;
	left: 0;
	font-size: 14px;
	background: #131417;
	text-indent: 20px;
	outline: none;
	color: #87daff;
	position: absolute;
}

/* 搜索图标 */
#search-icon {
	position: absolute;
	top: 0;
	right: 0;
	color: #999;
	font-size: 20px;
	width: 40px;
	height: 50px;
	background: #131417;
	text-align: center;
	line-height: 2.5;
}
#search-icon:hover {
	cursor: pointer;
	color: #87daff;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
}

#search .icon-active{
	color: #e06c75;
}

/* 滚动条 */
#sidebar {
	overflow: auto;
}

/* 树目录位置 */
#tree {
	padding-top: 55px
}

/* 树目录 */
#sidebar ul {
	padding: 0px 5px 5px 20px;
}
#sidebar ul li {
	list-style: none;
	line-height: 25px;
}
#sidebar ul li a {
	color: #999;
	font-size: 14px;
}
#sidebar ul li a:hover {
	color: #ccc;
	border-bottom: 1px solid #ccc;
	cursor:pointer;
}
#tree .active a,
#tree .active a:hover {
	color: #87daff;
	border-bottom: 1px solid #87daff;
}
/* #################### 侧边栏 #################### */

/* #################### 文章 #################### */
/* 作者 时间 相关 */
#post-author {
	font-size: 9px;
	position: absolute;
	top: 60px;
	right: 30px;
	color: #999;
}

#post-date {
	font-size: 9px;
	position: absolute;
	top: 80px;
	right: 30px;
	color: #999;
}

/* 文章各个元素间隔 */
#article {
	padding: 50px 30px;
}
#article * {
	margin: 30px 0;
}


#article ol,
#article ul {
	padding-left: 40px;
	line-height: 5px;
	margin: 20px 0;
}

#article li {
	margin: 20px 0;
}

#article h1,
#article h2,
#article h3,
#article h4,
#article h5,
#article h6 {
	line-height: 40px;
	margin: 20px 0 15px;
}

#article h1 {
	font-size: 32px;
	font-weight: 900;
	padding-bottom: 10px;
	border-bottom: 2px solid #e06c75;
}

#article h2 {
	font-size: 25px;
	border-left: 3px solid #73b1e0;
	padding-left: 10px;
}

#article h3 {
	font-size: 22px
}

#article a {
	color: #e06c75;
}

#article a:hover {
	border-bottom: 1px solid;
}

#article h1 a:hover{
	border-bottom: none;
}

#article code {
	border-radius: 3px;
	box-shadow: 0px 0px 5px #999;
}

#article img {
	max-width: 100%;
	height: auto;
	border-radius: 5px;
	box-shadow: 0px 0px 8px #999;
}

#article pre {
	font-size: 14px;
	margin: 20px 0 15px;
}

#article p {
	margin: 0 0 10px;
	line-height: 30px
}

/* 表格处理 */
#article table {
  width: 100%;
  border: 0;
  margin: 20px 0 50px 0;
  border-collapse: collapse;
  border-spacing: 0;
  line-height: 35px;
  border-radius: 8px;
  box-shadow: 0px 0px 5px #999;
}

#article table th {
  background: #73b1e0;
  font-weight: 800;
  font-size: 18px;
  text-align: left;
  line-height: 35px;
  color: #FFF;
}

#article table tr:nth-child(odd) {
  background: #F4F4F4;
}

#article table tr:hover,
#article table td:hover {
  background: #badbf5;
  color: #FFF;
}

#article table td, table th {
  padding: 5px 20px 5px 20px
}

#article table tr:first-child th:first-child {
  border-top-left-radius: 3px;
}

#article table tr:first-child th:last-child {
  border-top-right-radius: 3px;
}

#article table tr:last-child td:first-child {
  border-bottom-left-radius: 3px;
}

#article table tr:last-child td:last-child {
  border-bottom-right-radius: 3px;
}

/* #################### 文章 #################### */

/* #################### 点击目录动画 #################### */
#tree ul ul {
	display: none;
}
/* #################### 点击目录动画 #################### */

/* #################### 文章索引 #################### */

#toc {
	padding-top: 55px;
}

#toc a.read{
	/*color: #e06c75;*/
	color: #87daff;
	border-bottom: 0;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	-o-transition: 0.5s;
}

#toc a{
	color: #999;
	border-bottom: 0;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-ms-transition: 0.2s;
	-o-transition: 0.2s;
}

#toc a:hover{
	/*color: #87daff;*/
	color: #e5c07b;
	padding-left: 20px;
	-webkit-transition: 0.1s;
	-moz-transition: 0.1s;
	-ms-transition: 0.1s;
	-o-transition: 0.1s;
}

/* #################### 文章索引 #################### */

/* #################### 主页 #################### */

#articleList .article-li {
	margin: 20px;
	list-style: none;
	border-bottom: 1px solid #eee;
}

#articleList .article-digest * {
	word-wrap: break-word;
	display: inline;
	font-size: 12px;
	color: #555;
	cursor:auto;
	border-radius: none;
	box-shadow: none;
}

#articleList .article-digest{
	padding: 30px;
    position: relative;
}

#articleList .article-title {
	position: relative;
	color: #555;
	font-size: 24px;
	font-weight: bold;
}

#articleList .post-date {
	position: relative;
	font-size: 9px;
	color: #999;
	float: right;
}

/* #################### 主页 #################### */

canvas#live2dcanvas {
    border: 0 !important;
    left: 0;
}


/* #################### 自适应 #################### */

/* 当浏览器窗口不超过最大800px时(意思就是小于800px时) */

@media screen and (max-width: 800px) {
	#sidebar {
		display: none;
	}

	#content {
		margin: 50px 0px 30px 0px;
	}

	canvas#live2dcanvas {
		display: none;
	}
}

/*竖屏*/
@media all and (orientation : portrait) {

	#sidebar {
		display: none;
	}

	#content {
		padding-left: 0;
	}

	canvas#live2dcanvas {
		display: none;
	}

}

/* #################### 自适应 #################### */


/* #################### rocket #################### */

#to_top{
    position: fixed;
    bottom: 80px;
    right: 50px;
	width: 40px;
	height: 40px;
	border-radius:50%;
	background:#f4f4f4;
    z-index: 9;
    text-align: center;
    transform: scale(1.2);
}

#totop{
  position: relative;
  display: inline-block;
  overflow: hidden;
  cursor: pointer;
  line-height: 40px;
	width: 40px;
	height: 40px;
}

/* #################### rocket #################### */
